@charset "UTF-8";
/* CSS Document */

body
{
background-image:url(../assets/Background.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

html {
	color: #FFFFFF; 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.started{
	position: relative;
	margin-left: 175px;
	width: 15%;
	height: 35px;
	
}


p{
text-align:center;
color: #0F2F55;
font-size: 98%;
}

h1 
{
text-align: center;
color: #0F2F55;
font-size: 28px;
}


.container {   
      padding: 30px;   
      background-color: white; 
	position: absolute;
	z-index: 9;
	top: 338px;
	right: 30%;
	width: 600px;
	text-align: center;
} 
a
{
text-decoration:none;
}
